@{
    ViewData["Title"] = "Alta de Estudiantes";
}

<form>


<div clases="mb-3">
    <label for="nombre" class="form-label" class="form-label">Nombre></label>
    <input type="text" class="form-control" id="nombre" name="nombre"
    name="nombre" placeholder="escriba al Maestro" />
</div>
<button type="submit" class="btn btn-primary">Guardar</button>
<button type="submit" class="btn btn-secundary">cancelar</button>
</form>