@model MateriasModel;

@{

    ViewData["Title"] = "Listado de materias";
    DateTime FechaCreacion = new DateTime(2024,05,17);

}
<center>
    <h1 class="display-2">Listado de materias</h1>
    <br>
   
    <i>@FechaCreacion</i>
    <h3>@Model.Nombre es la materia </h3>
    <br>
    <img src="~/img/clover.jpg" width="550" height="550">

    <br><br>
    <label size="2">Es una prueba</label>


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>





</center>
