
@model StudentModel;


@{
    ViewData["Title"] = "Listado de Alumnos";
}
<center>
    <h1 class="display-2"> Listado de Alumnos</h1>
    <br>
    <h2>@DateTime.Now</h2>
    <br>
    <h3>@Model.Nombre ese alumno de la carrera @Model.Carrera</h3>
    <br>
    <img src="~/img/halo.jpeg" width="550" height="550">
    <br><br>
    <label> Esto es una prueba</label>
</center>


<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>