@model MateriasModel

@{
    ViewData["Title"] = "Alta de Materia";
}

<div asp-validation-summary="All" class="text-danger"></div>

<br><br><br>

<form asp-controller="Degree" asp-action="DegreeAdd">
<div clases="mb-3">
    <label for="nombre" class="form-label" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre"
    name="nombre" placeholder="escriba la carrera" />
</div>
<button type="submit" class="btn btn-primary">Guardar</button>
<button type="submit" class="btn btn-secundary">cancelar</button>
</form>